/node_modules
/vendor
.env
.env.*
!.env.example
.git
.gitignore
/public/build
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore
npm-debug.log
yarn-error.log
.idea
.vscode
*.sublime-*
